<%- include('./templates/header.ejs') %>
<%- include('./templates/nav-todos.ejs') %>

    
<main class="mainbody-columnas">


    <h2> <%= titulo %></h2>


    <p> <%= parrafo %></p>


</main>


<%- include('./templates/footer.ejs') %>